
//--launch rocket
@keyframes rocket-launch-anim {
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh);
    }
}

//--move character in
@keyframes move-from-right {
    0% {
        transform: translateX(100%);
        //opacity: 1;
    }
    100% {
        transform: translateX(0);
        //opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-grow-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

//--pulse the button bg element
@keyframes pulse-out {
    20% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.2, 1.5);
    }
}

//--vibrate the launching rocket
@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(-1px, -1px);
    }
    10% {
        transform: translate(1px, -1px);
    }
    30% {
        transform: translate(-1px, 1px);
    }
    40% {
        transform: translate(1px, 1px);
    }
    50% {
        transform: translate(-1px, -1px);
    }
    60% {
        transform: translate(1px, -1px);
    }
    70% {
        transform: translate(-1px, 1px);
    }
    80% {
        transform: translate(-1px, -1px);
    }
    90% {
        transform: translate(1px, -1px);
    }
    100% {
        transform: translate(0);
    }
}

//--shake wrong answer
@keyframes shake-wrong {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

//--flash the win message, end transparent
@keyframes blink-in-out {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

//--flicker the flame
@keyframes flicker {
    0% {
        opacity: 0.6;
    }
    10% {
        opacity: 0.83;
    }
    20% {
        opacity: .75;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0.36;
    }
    50% {
        opacity: 0.82;
    }
    60% {
        opacity: 0.56;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.37;
    }
    90% {
        opacity: 0.85;
    }
    100% {
        opacity: 1;
    }
}

//--flashing the countdown
@keyframes flash {

    0%,
    100%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}