
.answer {
    $c: &;
    $spacing: 10px;
    margin: 0 8px;
    border: 0;
    cursor: pointer;
    outline: 0;
    width: calc(50% - #{$spacing}*2);
    background: transparent;
    height: 40px;
    position: relative;
    perspective: 600px;
    perspective-origin: 50% 50%;

    &:nth-child(1),
    &:nth-child(2) {
        margin-bottom: 10px;
    }

    @media (min-width: #{$breakpoint-medium}) and (min-height: $tall-up) {
        height: 70px;
        height: 70px;
    }

    @media (min-width: #{$breakpoint-large}) and (min-height: $tall-up) {
        height: 100px;
    }

    &--correct-answer {
        border: 1px solid red;
    }

    &--correct-chosen {

    }

    &--wrong {

        #{$c}__label {
            background-color: $red !important;
            animation: shake-wrong 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
    }

    &__inner {
        width: 100%;
        height: 100%;
        transition: transform 400ms;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        #{$c}--correct-chosen & {
            transform: rotateX(180deg);
        }
    }

    &__label,
    &__correct {
        //--both faces
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $btn-bg;
        color: $text-dark;
        transition: background $transition-time;
    }

    &__label {
        //--the front
        font-weight: bold;
        font-family: $sans-serif;
        letter-spacing: 0.01em;
        text-align: center;
        font-size: 22px;
        z-index: 2;

        @media (min-width: #{$breakpoint-medium}) and (min-height: $tall-up) {
            font-size: 40px;
        }

        @media (min-width: #{$breakpoint-large}) and (min-height: $tall-up) {
            font-size: 75px;
        }

        #{$c}:hover &,
        #{$c}:active & {
            background: darken($btn-bg,20%);
        }
    }

    &__correct {
        //--the back
        z-index: 1;
        transform: rotateX(180deg);
        background: #0BC01D;

        &:after {
            //--the tick
            content: "";
            display: block;
            width: 50%;
            height: 70%;
            object-fit: contain;
            background: url(#{$images-path}/tick.svg) no-repeat center;
            background-size: contain;
        }
    }
}