.rocket {
    $c: &;
    position: absolute;
    bottom: calc(#{$ground-height} + 19px);
    right: 50px;

    @media (min-width: #{$breakpoint-medium}) and (min-height: $tall-up) {
        bottom: calc(#{$ground-height} + #{$launchpad-height});
        right: 30px;
    }

    &--active {
        animation: rocket-launch-anim 9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    &__inner {
        #{$c}--active & {
            animation: vibrate 0.3s linear infinite both;
        }
    }

    &__rocket {
        background: url(#{$images-path}/rocket.svg) no-repeat center;
        background-size: contain;
        width: 130px;
        height: 0;
        padding: 0 0 157.7%;

        @media (min-width: #{$breakpoint-medium}) and (min-height: $tall-up) {
            width: 290px;
        }
    }

    &__countdown-wrapper {
        position: absolute;
        left: 50%;
        top: 32%;
        transform: translateX(-50%);
    }

    &__countdown {
        font-size: 30px;
        text-align: center;
        color: white;
        line-height: 1.2;
        font-weight: bold;

        @media (min-width: #{$breakpoint-medium}) and (min-height: $tall-up) {
            font-size: 74px;
            line-height: 1;
        }

        &.flash {
            animation: flash 175ms linear 5 both;
        }
    }

    &__flame {
        background: url(#{$images-path}/flame.svg) no-repeat top;
        background-size: contain;
        width: 86px;
        height: 0;
        padding: 0 0 100%;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: 81%;
        z-index: -1;
        opacity: 0;

        #{$c}--active & {
            animation: flicker .6s infinite both;
        }
    }
}

.launchpad {
    width: 210px;
    height: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: $ground-height;
    right: 10px;
    z-index: 1;

    @media (min-width: #{$breakpoint-medium}) and (min-height: $tall-up) {
        width: 320px;
    }
}