$overlay-delay: 1s;
$char-entrance-time: 1s;

.play-button {
    $bg: $btn-bg;
    display: inline-block;
    background: $btn-bg;
    color: #444444;
    border: 0;
    padding: 20px 80px;
    font-size: 60px;
    font-family: $sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    cursor: pointer;
    transition: background $transition-time;
    line-height: 1.2;
    z-index: 1;

    @media (min-width: $breakpoint-medium) {
        //font-size: 60px;
    }

    @media (min-width: $breakpoint-large) {
        font-size: 80px;
        padding: 20px 100px;
    }

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $bg;
        animation: pulse-out 0.75s ease-out infinite;
        z-index: -1;
        border-radius: 5px;
    }

    &:hover,
    &:active {
        background: darken($btn-bg,10%);
    }

    &__wrapper {
        //--centers the button in the ground
        height: $ground-height;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }
}

.start-instruction {
    $bg: #D3DEEF;
    background: $bg;
    border-radius: 50px;
    padding: 25px 35px;
    position: relative;
    animation: fade-grow-in 200ms ease-out;
    animation-delay: $overlay-delay + $char-entrance-time;
    animation-fill-mode: forwards;
    opacity: 0;

    @media (min-width: $breakpoint-large) {
        padding: 50px 70px;
    }

    &:after {
        //--speech arrow
        content: "";
        display: block;
        position: absolute;
        bottom: -60px;
        left: calc(50% + 30px);
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 30px solid transparent;
        border-top: 60px solid $bg;

        @media (min-width: $breakpoint-large) {
            bottom: -100px;
            border-right: 60px solid transparent;
            border-top: 100px solid $bg;
        }
    }

    .char {
        opacity: 0;
    }

    &__wrapper {
        width: calc(100vw - 60px);
        max-width: 600px;
        margin: 0 auto 150px;
        transform: translateX(-50%);

        @media (min-width: $breakpoint-large) {
            margin-bottom: 180px;
            max-width: 1040px;
        }
    }

    &__text {
        color: #277CCB;
        text-align: center;
        font-size: 22px;
        margin: 0;
        padding: 0;

        @media (min-width: $breakpoint-large) {
            font-size: 50px;
        }
    }
}

.character-wrapper {
    position: absolute;
    bottom: $ground-height;
    left: 50%;
    animation: move-from-left $char-entrance-time linear;
    animation-fill-mode: both;
    animation-delay: $overlay-delay;
    //opacity: 0;
}

.character {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 30px;
    height: 50px;
    background: url(#{$images-path}/astronaut.svg) no-repeat bottom;
    background-size: contain;
    transform: translateX(-50%);

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: fade-in 1s linear;
    animation-fill-mode: forwards;
    z-index: 10;
    pointer-events: none;
}
